@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

:focus {
  outline: 0;
}



html {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A4A4A;
  background-color: #F2F2F2;
  line-height: 1.4;
}

.main-content {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 25px 25px;
  text-align: left;
  width: 100% !important;
  max-width: 1225px;
  min-height: 750px;
  #content.no-bg-layout {
    #contentLeft {
      width: calc(100% - 395px);
    }
    #contentRight {
      margin: 0 0 0 20px;
      width: 375px;
    }
  }
}

.no-bg-layout {
  background: #F2F2F2;
  margin: 0 -25px -25px;
  min-height: 608px;
  padding-bottom: 40px;
}

div {
  &#contentLeft {
    width: 66%;
    float: left;
    margin-top: 20px;
  }
  &#contentRight {
    width: 31%;
    float: left;
    margin: 18px 0 0 3%;
  }
}

@media only screen and (max-width: 991px) {
  .main-content {
    width: 991px;
  }
  .project-manager .main-content {
    padding: 0 25px !important;
  }
  .fix-width-grid {
    width: 991px;
  }
}

.header-main {
  background-color: #4A4A4A;
  text-align: center;
  .auth0-dropdown-menu {
    margin-top: 20px;
  }
  .container {
    padding: 0 15px;
    min-width: auto;
    max-width: none;
  }
  .checkmark-success {
    border-bottom: 3px solid #78A22F;
    border-right: 3px solid #78A22F;
    height: 12px;
    margin-bottom: 7px;
    margin-left: 10px;
    transform: rotate(45deg);
    width: 8px;
  }
  .current-vendor {
    align-items: center;
    display: flex;
  }
  .linked-vendor-dropown-item {
    border-bottom: 1px solid #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
  }
  a {
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    background: rgba(40, 40, 40, 0);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 0 20px;
    text-decoration: none;
    line-height: 54px;
    &.active:not(.logo), &:hover:not(.logo) {
      background: #282828;
      cursor: pointer;
    }
  }
  b {
    font-weight: 500;
  }
  .dropdown-menu a:hover {
    background: #e8e8e8;
  }
  .dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 10px;
    &:hover {
      background: #282828;
    }
  }
  .dropdown.open button {
    background: #282828;
  }
  .right-arrow {
    margin-top: 20px;
    margin-right: 75px;
  }
  .right-space {
    padding-right: 20px;
  }
  .help {
    margin-left: 10px;
  }
  a.logo {
    float: left;
    line-height: 1;
    margin: 10px 36px 0 0;
    padding: 0;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  nav {
    float: left;
    font-size: 0px;
  }
  .account {
    float: right;
  }
  button {
    background: transparent;
    border: 0;
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .header-main .container {
    padding: 0;
  }
}

.block-icon {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  width: 30px;
}

#logoLink {
  display: inline-block;
  margin: 0;
  a {
    &:link, &:visited, &:hover, &:active {
      
      display: block;
      height: 50px;
      padding-top: 20px;
      width: 134px;
    }
  }
}

.footer-main {
  background: #4a4a4a;
  color: #fff;
  padding: 30px 0 28px;
  text-align: center;
  img {
    height: auto;
    margin-bottom: 30px;
    max-width: 160px;
  }
  a {
    color: #fff;
    margin: 0 4px;
    text-decoration: underline;
  }
  p {
    margin-bottom: 15px;
  }
}

.btn {
  -webkit-transition: color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
  -moz-transition: color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
  transition: color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 8px 15px 7px;
  text-transform: uppercase;
  line-height: normal;
  &:not(.btn-link) {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);
  }
  &:not(.disabled):hover {
    box-shadow: 1px 5px 10px #ccc;
  }
  &.btn-link:hover {
    box-shadow: none;
  }
  &[class*="btn-"] {
    &:focus, &:active, &.active {
      box-shadow: none;
      outline: none;
    }
  }
  &[disabled]:hover, &.disabled:hover {
    box-shadow: none;
    outline: none;
  }
  span.caret {
    background: url(/images/redesign/btn-caret.svg) no-repeat center center;
    background-size: 100%;
    transform: rotate(180deg);
    border: none;
    width: 12px;
    height: 12px;
    margin: -2px 0 0 4px;
    &.back {
      margin: -2px 4px 0 0;
      transform: rotate(-90deg);
    }
  }
  &.btn-primary {
    background-color: #FF893E;
    border-color: #FF893E;
    box-shadow: none;
    &:hover {
      background-color: #FF893E;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
    &:focus, &.focus, &:active, &.active {
      background-color: #FF893E;
      border-color: #d27b44;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2), inset 0 0 1px 0 rgba(0, 0, 0, 0.4);
    }
    &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus {
      border-color: #FF893E;
      box-shadow: none;
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &.btn-default {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #F2F2F2), -webkit-linear-gradient(#fff, #fff);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #F2F2F2), linear-gradient(#fff, #fff);
    box-shadow: none;
    border: 1px solid #D9D2D0;
    color: #6D6565;
    &:hover {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #e0e0e0), -webkit-linear-gradient(#fff, #fff);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #e0e0e0), linear-gradient(#fff, #fff);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      border-color: #A8A0A0;
      color: #4A4A4A;
    }
    &:active, &.active {
      background: #F2F2F2;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
      border-color: #A8A0A0;
      color: #4A4A4A;
    }
    &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus {
      background: #F2F2F2;
      box-shadow: none;
      border-color: #e0e0e0;
      color: #A8A0A0;
      pointer-events: none;
    }
  }
  &.btn-danger {
    background-color: #f9f9f9;
    border-color: #bab7b7;
    color: #d9534f;
    &:focus {
      background-color: #f9f9f9;
      border-color: #bab7b7;
      color: #d9534f;
    }
    &:hover, &:focus:hover, &:active, &.active {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
    &[disabled] {
      &:hover, &:active {
        background-color: #f9f9f9;
        border-color: #bab7b7;
        color: #d9534f;
        pointer-events: none;
      }
    }
  }
  &.btn-link {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    color: #337ab7;
    &:hover, &:focus {
      color: #23527c;
      text-decoration: underline;
    }
  }
  &.btn .glyphicon {
    font-size: 10px;
  }
  &.btn-sm {
    font-size: 10px;
    padding: 4px 10px;
    .glyphicon {
      font-size: 9px;
    }
    span.caret {
      background-size: 90%;
    }
  }
  &.btn-lg {
    padding: 13px 20px 11px;
    font-size: 12px;
    .glyphicon {
      font-size: 11px;
    }
  }
}

.btn-group-lg {
  > .btn, .btn-lg {
    border-radius: 3px;
  }
}

.loadingbtn {
  flex: 0 0 200px;
  position: relative;
  .loadingbtn-outer {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
    .loadingbtn-dots {
      display: flex;
      flex-wrap: wrap;
      height: 16px;
      justify-content: center;
      overflow: hidden;
      padding-left: 12px;
      padding-right: 12px;
      visibility: hidden;
      width: 100%;
      .loadingbtn-loader-dot {
        -webkit-animation: loadingbutton-scale-dot 1.2s ease-out infinite;
        animation: loadingbutton-scale-dot 1.2s ease-out infinite;
        border-radius: 50%;
        height: 16px;
        margin: 0 4px;
        opacity: .75;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        visibility: inherit;
        width: 16px;
        &:nth-of-type(2) {
          -webkit-animation-delay: .2s;
          animation-delay: .2s;
        }
        &:nth-of-type(3) {
          -webkit-animation-delay: .3s;
          animation-delay: .3s;
        }
        &:nth-of-type(4) {
          -webkit-animation-delay: .4s;
          animation-delay: .4s;
        }
        &:nth-of-type(5) {
          -webkit-animation-delay: .5s;
          animation-delay: .5s;
        }
      }
    }
  }
  &.btn-default.loader-active, &.btn-primary.loader-active, &.btn-danger.loader-active {
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
  }
  &.btn-default.loader-active {
    background-color: #f9f9f9;
    border-color: #bab7b7;
    &:focus, &:hover {
      background-color: #f9f9f9;
      border-color: #bab7b7;
    }
    .loadingbtn-loader-dot, &:focus .loadingbtn-loader-dot, &:hover .loadingbtn-loader-dot {
      background: #1b3249;
    }
  }
  &.btn-primary.loader-active {
    background-color: #faa635;
    border-color: #faac35;
    &:focus, &:hover {
      background-color: #faa635;
      border-color: #faac35;
    }
    .loadingbtn-loader-dot, &:focus .loadingbtn-loader-dot, &:hover .loadingbtn-loader-dot {
      background: #fff;
    }
  }
  &.btn-danger.loader-active {
    background-color: #c9302c;
    border-color: #ac2925;
    &:focus, &:hover {
      background-color: #c9302c;
      border-color: #ac2925;
    }
    .loadingbtn-loader-dot, &:focus .loadingbtn-loader-dot, &:hover .loadingbtn-loader-dot {
      background: #fff;
    }
  }
  &.loader-active .loadingbtn-dots, .loadingbtn-txt {
    visibility: visible;
  }
  &.loader-active .loadingbtn-txt, .loadingbtn-dots {
    visibility: hidden;
  }
}

@keyframes loadingbutton-scale-dot {
  0% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0.5);
  }
}


.open > .dropdown-toggle.btn-primary {
  background-color: #df860e;
  border-color: #df860e;
  &:hover, &:focus, &:active, &.active {
    background-color: #df860e;
    border-color: #df860e;
  }
}

.dropdown-toggle > img {
  margin-left: 14px;
}

.dropdown-menu {
  top: 36px;
  > li > a {
    line-height: 40px;
  }
}

.filter-dropdown > .button-arrow::after {
  background: url("/images/icons/arrows_small.png") no-repeat scroll 0 0 transparent;
  content: "";
  height: 26px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 26px;
}

label, .form-label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #a2a2a2;
  margin-bottom: 5px;
}

label.small-text, .form-label.small-text {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 10px;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0 10px;
  height: 30px;
  color: #404040;
  border: 1px solid #bab7b7;
  border-radius: 3px;
  width: 100%;
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    color: #bab7b6;
  }
  &:focus {
    border-color: #0071CE;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 113, 207, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 113, 207, 0.6);
  }
}

textarea.form-control {
  height: auto;
  max-width: 100%;
}

select {
  &.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff url(https://cdn.theorchard.io/shared/images/downarrow@2x.png) no-repeat right 8px center;
    background-size: 14px 9px;
    padding-right: 28px;
    &::-ms-expand {
      display: none;
    }
  }
  &.multiple-form {
    background: #fff;
    padding-right: 10px;
    option {
      border-bottom: 1px solid #e0e0e0;
      padding: 8px 0;
    }
  }
}

.ui-datepicker-trigger {
  right: 5px;
  position: relative;
  top: -24px;
  cursor: pointer;
  float: right;
}

.disabled > {
  .form-group {
    margin-bottom: 15px;
    > label {
      cursor: default;
    }
    .form-control {
      &[disabled], &[readonly] {
        background-color: #eee;
        opacity: 0.5;
      }
      background-color: #eee;
      opacity: 0.5;
    }
  }
  .checkbox input[type="checkbox"] {
    margin-left: -20px;
    position: absolute;
  }
}

select:disabled {
  background-color: #e4e4e4;
  opacity: 0.5;
}

.btn.btn-danger.disabled {
  &:hover, &:focus, &:active {
    background-color: #f9f9f9;
    border-color: #bab7b7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);
    color: #d9534f;
  }
}

disabled, button[disabled] {
  cursor: not-allowed;
}

.btn.btn-link {
  &[disabled], &.disabled {
    color: #666;
  }
  &[disabled] {
    &:hover, &:focus, &:active {
      color: #666;
      text-decoration: none;
    }
  }
  &.disabled {
    &:hover, &:focus, &:active {
      color: #666;
      text-decoration: none;
    }
  }
}

.checkbox > {
  [type="checkbox"] + label, [type="radio"] + label {
    color: #4A4A4A;
    text-transform: initial;
    font-size: 14px;
  }
}

.radio > {
  [type="checkbox"] + label, [type="radio"] + label {
    color: #4A4A4A;
    text-transform: initial;
    font-size: 14px;
  }
}

.checkbox > [type="checkbox"] {
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 25px;
  }
  &:not(:checked) + label {
    &:before, &:after {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 1px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      transition: all .1s linear;
    }
  }
  &:checked + label {
    &:before, &:after {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 1px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      transition: all .1s linear;
    }
  }
  &:not(:checked) + label:before, &:checked + label:before {
    content: '';
    border: 1px solid #A8A0A0;
    background: #fff;
  }
  &:not(:checked) + label:after, &:checked + label:after {
    content: '\e013';
    color: #026EAD;
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-size: 10px;
    padding: 1px 3px;
    line-height: 14px;
  }
  &:not(:checked) + label:hover:before, &:checked + label:hover:before {
    border: 1px solid #6D6565;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label {
    &:before, &:hover:before {
      border: 1px solid #026EAD;
    }
    &:after {
      opacity: 1;
      transform: scale(1);
    }
  }
  &:not(:checked):disabled + label, &:checked:disabled + label {
    cursor: not-allowed;
  }
  &:not(:checked):disabled + label:before, &:checked:disabled + label:before {
    background-color: #F2F2F2;
    border: 1px solid #D9D2D0;
    color: #D9D2D0;
    cursor: not-allowed;
    opacity: 1;
  }
  &:not(:checked):disabled + label:after, &:checked:disabled + label:after {
    color: #D9D2D0;
  }
  &[data-indeterminate] + label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
  }
}

.radio {
  input[type="radio"] {
    margin-top: 2px;
  }
  > [type="radio"] {
    &:not(:checked), &:checked {
      position: absolute;
      left: -9999px;
    }
    &:not(:checked) + label, &:checked + label {
      position: relative;
      padding-left: 25px;
    }
    &:not(:checked) + label {
      &:before, &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        transition: all .1s linear;
      }
    }
    &:checked + label {
      &:before, &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        transition: all .1s linear;
      }
    }
    &:not(:checked) + label:before, &:checked + label:before {
      left: 1px;
      top: 50%;
      margin-top: -9px;
      width: 16px;
      height: 16px;
      border: 1px solid #A8A0A0;
      background: #fff;
    }
    &:not(:checked) + label:after, &:checked + label:after {
      top: 50%;
      margin-top: -4px;
      left: 6px;
      background: #026EAD;
      width: 6px;
      height: 6px;
      line-height: 13px;
    }
    &:not(:checked) + label:hover:before, &:checked + label:hover:before {
      border: 1px solid #6D6565;
    }
    &:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    &:checked + label {
      &:before, &:hover:before {
        border: 1px solid #026EAD;
      }
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
    &:not(:checked):disabled + label, &:checked:disabled + label {
      cursor: not-allowed;
    }
    &:not(:checked):disabled + label:before, &:checked:disabled + label:before {
      background-color: #F2F2F2;
      border: 1px solid #D9D2D0;
      color: #D9D2D0;
      cursor: not-allowed;
      opacity: 1;
    }
    &:not(:checked):disabled + label:after, &:checked:disabled + label:after {
      background-color: #D9D2D0;
    }
    &[data-indeterminate] + label:after {
      content: '\2212';
      left: 2px;
      opacity: 1;
      transform: scale(1);
    }
  }
  &.inline {
    display: inline-block;
    margin-right: 10px;
  }
}

.invalid-input {
  .input-group-addon, .blankInput {
    border-color: #e42600;
  }
  .form-control {
    border: 1px solid #e42600;
  }
  label, .input-group-addon {
    color: #e42600;
  }
}

.radio-btn-group {
  input[type="radio"] {
    display: none;
  }
  .btn > label {
    margin-bottom: 0;
  }
}

.flex-form {
  display: flex;
}

.pagination-panel ul.pagination {
  height: auto;
  margin: 0;
  li {
    display: none;
    float: left;
    &.active, &.show, &.next-arrow, &.prev-arrow, &.first, &.last, &.ellipses {
      display: block;
    }
  }
}

ul.pagination {
  li {
    > {
      a, span, a:focus, span:focus {
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #F2F2F2), -webkit-linear-gradient(#fff, #fff);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #F2F2F2), linear-gradient(#fff, #fff);
        box-shadow: none;
        border: 1px solid #D9D2D0;
        color: #6D6565;
      }
    }
    &.disabled > {
      a, span, a:hover, span:hover, a:focus, span:focus {
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #F2F2F2), -webkit-linear-gradient(#fff, #fff);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #F2F2F2), linear-gradient(#fff, #fff);
        box-shadow: none;
        border: 1px solid #D9D2D0;
        color: #6D6565;
      }
    }
    > {
      a, span {
        border-radius: 3px;
        font-size: 11px;
        font-weight: 500;
        display: list-item;
        margin-left: 10px;
        padding: 9px 15px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: pre-wrap;
      }
      a:hover, span:hover {
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #e0e0e0), -webkit-linear-gradient(#fff, #fff);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #e0e0e0), linear-gradient(#fff, #fff);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        border-color: #A8A0A0;
        color: #4A4A4A;
      }
    }
    &.prev-arrow > {
      a:before, span:before {
        content: " ";
        display: inline;
      }
    }
    &.next-arrow > {
      a:before, span:before {
        content: " ";
        display: inline;
      }
    }
    &.active > {
      a, span, a:hover, span:hover, a:focus, span:focus {
        background: #F2F2F2;
        box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border-color: #A8A0A0;
        color: #4A4A4A;
      }
    }
  }
  list-style: none;
}

.panel-default, .panel-secondary {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.panel-default .panel-heading, .panel-secondary .panel-heading {
  background-color: #fff;
  padding: 6px 0;
  border-bottom: 0px solid #bab7b7;
}

.panel-default .panel-heading .panel-title, .panel-secondary .panel-heading .panel-title {
  color: #4A4A4A;
  font-size: 18px;
}

.panel-default .panel-body, .panel-secondary .panel-body {
  padding: 20px 0;
}

.panel-default .panel-footer, .panel-secondary .panel-footer {
  background: none;
  border: 0px solid #8b8b8b;
}

.panel-default {
  border-bottom: 1px solid #D9D2D0;
}

.panel-gray {
  background-color: #F2F2F2;
  padding: 10px;
}

.table {
  margin-top: 5px;
  tr {
    height: 25px;
  }
  thead tr th {
    border: none;
    border-top: 1px solid #D9D2D0;
    border-bottom: 1px solid #D9D2D0;
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
    vertical-align: middle;
    cursor: default;
    padding: 4px 8px;
    a {
      color: #a1a1a1;
    }
  }
  > {
    caption + thead > tr:first-child > {
      th, td {
        border-top: 1px solid #D9D2D0;
      }
    }
    colgroup + thead > tr:first-child > {
      th, td {
        border-top: 1px solid #D9D2D0;
      }
    }
    thead:first-child > tr:first-child > {
      th, td {
        border-top: 1px solid #D9D2D0;
      }
    }
  }
  tbody tr td {
    border-bottom: 1px solid #F2F2F2;
    border-top: none;
    font-size: 13px;
  }
}

.table-bordered {
  border: 1px solid #e0e0e0;
  thead tr {
    th, td {
      border: 1px solid #e0e0e0;
    }
  }
  tbody tr {
    th, td {
      border: 1px solid #e0e0e0;
    }
  }
  tfoot tr {
    th, td {
      border: 1px solid #e0e0e0;
    }
  }
  thead tr {
    th, td {
      border-bottom-width: 2px;
    }
  }
}

.table-striped tbody tr {
  &:nth-of-type(odd), &:nth-of-type(even) {
    background-color: transparent;
  }
  &:nth-child(even) {
    th, td {
      background-color: #efefef;
    }
  }
  td {
    border: none;
  }
}

.table-hover tbody tr:hover {
  background-color: #f1f5f9;
  cursor: pointer;
}

.table-sorter thead tr th {
  &.headerSortUp, &.headerSortDown, &.tablesorter-headerDesc, &.tablesorter-headerAsc {
    cursor: pointer;
    padding-right: 18px;
    position: relative;
  }
  &.headerSortUp:after, &.headerSortDown:after, &.tablesorter-headerDesc:after, &.tablesorter-headerAsc:after {
    content: "";
    background: #a2a2a2;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
  }
  &.headerSortUp, &.tablesorter-headerDesc {
    background: url("/images/redesign/up-arrow.svg") no-repeat #fff right 5px top 50%;
  }
  &.headerSortDown, &.tablesorter-headerAsc {
    background: url("/images/redesign/down-arrow.svg") no-repeat #fff right 5px top 50%;
  }
}

.table {
  &.tall tbody tr td, &.table-striped.tall tbody tr td {
    height: 110px;
  }
}

.table-input-select {
  margin-top: 0;
  .no-data-found {
    color: #6D6565;
    font-weight: 500;
    padding-top: 30px;
  }
  .checkbox {
    margin: 0px;
  }
  .table-row-bg {
    background: #ebf2f5;
  }
  .th-head-space {
    padding: 0px 12px;
  }
}

.table-button-section {
  border: 1px solid #D9D2D0;
  border-top: 0;
  margin-top: 0px;
  padding: 15px 0;
}

.expand-collapse-table-panel {
  > tr {
    display: none;
  }
  &.expanded tr {
    display: table-row;
  }
  tr {
    &.display-row, &.toggle-row-panel, &.exclude-row {
      display: table-row;
    }
  }
  .toggle-row-panel .expand-collapse-btn:before {
    content: "\002b";
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Glyphicons Halflings';
    margin-right: 10px;
    position: relative;
  }
  &.expanded .toggle-row-panel .expand-collapse-btn:before {
    content: "\2212";
  }
}

.data {
  td, th {
    border: 1px solid #D9D2D0;
  }
}

.handPointer {
  cursor: pointer;
}

.notDisplay {
  display: none;
}

.visible-block {
  display: block;
}

.full-width {
  width: 100%;
}

.hide-overflow {
  overflow-y: hidden;
}

.input-group-btn {
  &.space-left {
    padding-left: 10px;
  }
  &.space-right {
    padding-right: 10px;
  }
}

.input-btn-left-space {
  margin-left: 5px;
}

.right-space {
  margin-right: 5px;
}

.left-space {
  margin-left: 5px;
}

.bottom-space {
  margin-bottom: 5px;
}

.zero-margin-bottom {
  margin-bottom: 0;
}

.zero-index {
  z-index: 0;
}

.missingForm {
  background: url(/images/icons/missing.png) no-repeat scroll 0 center;
  padding-left: 22px;
  color: red;
  margin-top: 4px;
  line-height: 18px;
}

.lead {
  font-size: 16px;
}

.trash-icon {
  background: url("/images/redesign/red-trash.svg") no-repeat center center;
  text-indent: -10000px;
  direction: ltr;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  &.btn-danger {
    height: auto;
    &:hover {
      background: url("/images/redesign/white-trash.svg") #c9302c no-repeat center center;
    }
  }
}

.modular-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px !important;
  border: 1px solid #D9D2D0 !important;
  margin: 20px 0 0;
  &.react-app-module .module-title {
    display: none;
  }
}

.helptext {
  font-size: 11px;
  color: #4a4a4a;
}

.font-weight {
  font-weight: 500;
}

.border-bottom-none {
  border-bottom: none;
}

.strike-through {
  text-decoration: line-through;
}

.bold {
  font-weight: 500;
}

.top-space {
  margin-top: 5px;
}

.top-margin-space {
  margin-top: 20px;
}

.example-text {
  color: #a2a2a2;
  font-size: 12px;
}

.error {
  color: #e42600;
}

.required {
  color: #a2a2a2;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

#bread {
  display: inline-block;
  padding: 10px 0 5px;
  a {
    color: #4A4A4A;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    &:before {
      content: "â† ";
      font-size: 14px;
    }
    &:focus {
      outline: none;
    }
  }
}

.main-subnav {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 20px;
  padding-top: 30px;
  a {
    border-bottom: 2px solid transparent;
    color: #A8A0A0;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
    margin-bottom: -1px;
    padding-bottom: 10px;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid #A8A0A0;
      cursor: pointer;
    }
    &.active {
      border-bottom: 2px solid #4A4A4A;
      color: #4A4A4A;
      cursor: pointer;
    }
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #4a4a4a;
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  margin-top: 9px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 11px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 14px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 17px;
}

h5 {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 24px;
}

h6 {
  font-size: 11px;
  line-height: 1.75;
  margin-top: 28px;
}

a {
  color: #026EAD;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

b, strong {
  font-weight: 500;
}

.alert {
  background-color: #f7f7f7;
  border: 2px solid #bab7b7;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 0px;
  > {
    p, ul {
      margin-bottom: 0;
    }
  }
  &:empty {
    display: none;
  }
  &.alert-success {
    background-color: #dfebf5;
    border-color: #026ead;
    color: #026ead;
    &.alert-img {
      background-image: url("/oa/images/alert-success-icon.svg");
      background-repeat: no-repeat;
      background-position: 10px 7px;
      padding-left: 40px;
    }
  }
  &.alert-danger {
    background-color: #fcd7d4;
    border-color: #d46258;
    color: #d46258;
    &.alert-img {
      background-image: url("/oa/images/alert-danger-icon.svg");
      background-repeat: no-repeat;
      background-position: 10px 7px;
      padding-left: 40px;
    }
  }
  &.alert-warning {
    background-color: #fffbc4;
    border-color: #e18752;
    color: #e18752;
    &.alert-img {
      background-image: url("/oa/images/alert-warning-icon.svg");
      background-repeat: no-repeat;
      background-position: 10px 7px;
      padding-left: 40px;
    }
  }
  &.alert-warning-gentle {
    background-color: #fefbea;
    border-color: #fdf0a7;
    color: #6D6565;
    &.alert-img {
      background-image: url("/oa/images/alert-warning-gentle-icon.svg");
      background-repeat: no-repeat;
      background-position: 10px 7px;
      padding-left: 40px;
    }
  }
  &.alert-warning {
    background-color: #fffbc4;
    border-color: #e18752;
    color: #e18752;
    &.alert-img {
      background-image: url("/oa/images/alert-warning-icon.svg");
      background-repeat: no-repeat;
      background-position: 10px 7px;
      padding-left: 40px;
    }
  }
  &.alert-warning-orange {
    background-color: #fff3ea;
    border-color: #fff3ea;
    color: #ff893e;
    &.alert-img {
      background-image: url("/oa/images/alert-warning-orange-icon.svg");
      background-repeat: no-repeat;
      background-position: 10px 15px;
      padding-left: 50px;
    }
  }
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border: none;
}


.tooltip {
  &::before {
    background: transparent none repeat scroll 0 0;
    border: 8px solid transparent;
  }
  font-family: 'Rubik', sans-serif;
  max-width: 200px;
  padding: 8px;
  color: #fff;
  opacity: 1;
  background-color: #4a4a4a;
  border-radius: 3px;
  letter-spacing: 1px;
  &.tooltip-sm-width {
    max-width: 140px;
    font-size: 11px;
    word-wrap: break-word;
  }
  &.in {
    opacity: 1;
  }
  &.top, &.bottom {
    background: none;
  }
  &.top .arrow, &.bottom .arrow {
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  &.top {
    .arrow {
      border-top: 8px solid #4a4a4a;
    }
  }
  &.bottom {
    .arrow {
      border-bottom: 8px solid #4a4a4a;
    }
    .tooltip-inner {
      margin-top: 3px;
    }
  }
  &.left, &.right {
    background: none;
  }
  &.left .arrow, &.right .arrow {
    margin-top: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  &.left {
    .arrow {
      border-left: 8px solid #4a4a4a;
    }
    .tooltip-inner {
      margin-right: 3px;
    }
  }
  &.right {
    .arrow {
      border-right: 8px solid #4a4a4a;
    }
    .tooltip-inner {
      margin-left: 3px;
    }
  }
  .tooltip-inner {
    background-color: #4a4a4a;
    font-size: 12px;
    text-align: left;
  }
  &.right-arrow::before {
    border-right-color: rgba(51, 51, 51, 0.9);
    content: "";
    left: -16px;
    top: 15px;
    position: absolute;
  }
  &.top-arrow::before {
    border-top-color: rgba(51, 51, 51, 0.9);
    content: "";
    left: 30px;
    bottom: -16px;
    position: absolute;
  }
  &.top-arrow-sm::before {
    border-top-color: rgba(51, 51, 51, 0.9);
    content: "";
    left: 50%;
    bottom: -16px;
    position: absolute;
    margin-left: -8px;
  }
  &.bottom-arrow::before {
    border-bottom-color: rgba(51, 51, 51, 0.9);
    content: "";
    left: 90px;
    top: -16px;
    position: absolute;
  }
}

.helptip {
  box-sizing: border-box;
  height: 14px;
  margin-left: 20px;
  position: relative;
  &:before {
    color: #1b3249;
    background: #fff;
    border: 2px solid #1b3249;
    content: "?";
    font-size: 8px;
    font-weight: 800;
    height: 14px;
    left: -20px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    width: 14px;
    border-radius: 50%;
  }
}

.modal {
  overflow: visible;
  border: 0;
  .modal-content {
    background: white;
    border: 1px solid #BAB7B7;
    box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.22), 0px 19px 38px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position: relative;
    .modal-header {
      padding: 10px 0;
      margin: 0;
      border-bottom: 1px solid #C8C6C5;
      background: none;
      h3 {
        margin: 0 15px;
      }
      button.close {
        color: #ccc;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        border: 0;
        margin: 5px;
        box-shadow: none;
        outline: 0;
        position: absolute;
        right: 0px;
        top: 0px;
        &:hover {
          color: #4a4a4a;
        }
      }
    }
    .modal-body {
      padding: 20px;
      h4 {
        margin: 0 0 15px 0;
      }
    }
    .modal-footer {
      border: none;
    }
  }
}

.modalLoading {
  width: 100%;
  height: 750px;
  text-align: center;
  margin-top: 40px;
}

.loader-overlay {
  background: #4A4A4A;
  display: none;
  height: 100%;
  left: 0px;
  opacity: .8;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  .LoadingIndicator {
    top: 50%;
  }
  .LoadingIndicator-loader-dot {
    background: #fff;
  }
  &.loading-lg .LoadingIndicator-loader-dot {
    height: 36px;
    width: 36px;
  }
}

.LoadingIndicator {
  &.module-loader .LoadingIndicator-outer {
    position: relative;
  }
  position: relative;
}

.LoadingIndicator-dots {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 0 12px 0;
  overflow: hidden;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
}

.LoadingIndicator-outer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100%;
}

.LoadingIndicator-loader-dot {
  animation: LoadingIndicator-scale-dot 1.2s ease-out infinite;
  background: #9b9b9b;
  border-radius: 50%;
  height: 18px;
  margin: 0 4px;
  opacity: .75;
  transform: scale(0.5);
  visibility: inherit;
  width: 18px;
  &:nth-of-type(2) {
    animation-delay: .2s;
  }
  &:nth-of-type(3) {
    animation-delay: .3s;
  }
  &:nth-of-type(4) {
    animation-delay: .4s;
  }
  &:nth-of-type(5) {
    animation-delay: .5s;
  }
}

@keyframes LoadingIndicator-scale-dot {
  0% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0.5);
  }
}


.top-banner-grid {
  background: -webkit-linear-gradient(left, #026EAD 0%, #23527C 100%);
  background: linear-gradient(to right, #026EAD 0%, #23527C 100%);
  animation: bannerFadeIn 700ms ease-in;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% center;
  color: #fff;
  font-size: 15px;
  max-height: 800px;
  overflow: hidden;
  &.bannerslideup {
    animation: bannerFadeOut 700ms ease-in;
    max-height: 0;
  }
  .banner-content {
    float: left;
    padding: 20px 28px;
    width: calc(100% - 38px);
    .survey-link {
      color: #FF893E;
      text-decoration: underline;
    }
  }
  .dismiss-banner-btn {
    background: url("/images/redesign/cross-icon.svg") no-repeat center center;
    background-size: contain;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 20px 0;
    width: 10px;
  }
}

.finetunes, .email-notification {
  border: none;
  background: none;
  margin-bottom: 0;
  padding: 0;
}

.finetunes a, .email-notification a {
  text-decoration: underline;
}

.finetunes .dismiss-banner-btn, .email-notification .dismiss-banner-btn {
  background: none;
}

.finetunes .dismiss-banner-btn:before, .email-notification .dismiss-banner-btn:before {
  content: '\e014';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  position: relative;
}

.finetunes .dismiss-banner-btn:before {
  color: #026EAD;
}

.content-loader {

  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

}
#digital-product-footer-next-button{
  float: right;
}

.TrackEditForm-audio-file {
  height: 32px;
  width: 90px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block !important;
  
  &::after {
    padding: 10px;
    content: " Replace ";
    display: flex;
  }

}
.audio-change {
  cursor: pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size:50px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}


#notfound {
  position: relative;
  height: 100vh;
  .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 236px;
      font-weight: 200;
      margin: 0px;
      color: #211b19;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      color: #211b19;
      background: #fff;
      padding: 10px 5px;
      margin: auto;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
    }
  }
  a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #ff6300;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    &:hover {
      color: #ff6300;
      background: #211b19;
    }
  }
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound {
    .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
      h1 {
        font-size: 86px;
      }
      h2 {
        font-size: 16px;
      }
    }
    a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }
}


.email-notification {
  &.alert {
    margin-top: 0;
  }
  b {
    font-weight: 500;
  }
  .banner-content {
    background-image: url("/oa/images/alert-warning-icon.svg");
    background-repeat: no-repeat;
    background-position: 10px 26px;
    padding-left: 55px;
  }
  .dismiss-banner-btn:before {
    color: #e18752;
  }
}

@keyframes bannerFadeIn {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 200px;
    opacity: 1;
  }
}


@keyframes bannerFadeOut {
  from {
    max-height: 200px;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}


.instruction-section {
  text-align: center;
  .message-title {
    padding: 60px 0;
    h4 {
      color: #A8A0A0;
    }
  }
  .message-body {
    width: 90%;
    margin: 0 auto 70px;
    font-size: 0;
    .section {
      float: none;
      display: inline-block;
      word-wrap: break-word;
      vertical-align: top;
      font-size: 12px;
      padding: 0 40px;
    }
    p {
      color: #4A4A4A;
      font-size: 14px;
      margin: 5px 0;
    }
  }
  .message-footer {
    border-top: 1px solid #D9D2D0;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    p {
      color: #A8A0A0;
      font-size: 14px;
    }
  }
}

.legal-title {
  margin: 0 0 20px 0;
  padding-top: 50px;
}

.legal {
  .section-title {
    padding-bottom: 10px;
  }
  ol {
    list-style: decimal;
    margin-left: 30px;
    padding: 15px 0;
    li {
      line-height: 18px;
      margin-bottom: 9px;
      padding-left: 5px;
    }
  }
  .terms-conditions-topic {
    padding-bottom: 30px;
    h4, p {
      margin-top: 0;
      padding-top: 15px;
    }
  }
}
.disabled-element {
  pointer-events: none;
  cursor: not-allowed;
}
.icon-validation {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #FF893E;
  .icon-progress {
    background: #FF893E;
  }
}

.loginWrapper {
  background-color: #fff;
  height: 100vh;
  #alw-login {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .login-section {
      margin: 0 auto;
      max-width: 360px;
      width: 90%;
    }
    #login-logo {
      max-height: 360px;
      max-width: 360px;
    }
    .login-button {
      width: 200px;
      margin-top: 15px;
    }
    #password_form input.form-control {
      padding: 0 10px;
    }
  }
}

.home-artists {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  color : #a1a1a2;
  span::after {
    content: ", "
  }
  span:last-child::after {
    content: ""
  }
}