label, .form-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #a2a2a2;
    margin-bottom: 5px;
 }


.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 10px !important;
    height: 30px;
    color: #404040;
    border: 1px solid #bab7b7 !important;
    border-radius: 3px;
    width: 100%;
}

.marketing-list li {
padding: 7px 8px;
background: #f3f3f3;
list-style: none;
border: 1px #d5d5d5 solid;
}

.marketing-list li button{
  float : right;
  margin: -3px auto !important;

}


.form-control.marketing-select {
    height: 400px !important;
    background: none;
}
.form-control.marketing-select option {
    font-size: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-button {
    margin-left: auto !important;
    display: block !important;
    width: 200px;
    text-align: center;
    &:hover {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2)
    }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

.form-control:focus {
    border-color: #0071CE;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 113, 207, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 113, 207, 0.6);
}

.form-input-root
{
	margin-top: 18px;
}

.form-main{
	margin-bottom: 15px !important;
	width: 100%;
}

.btn {
  -webkit-transition: color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
  -moz-transition: color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
  transition: color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
  border-radius: 3px;
  font-size: 11px !important;
  font-weight: 500 !important;
  letter-spacing: 0.5px;
  padding: 8px 15px 7px;
  text-transform: uppercase;
  line-height: normal; }
  .btn:not(.btn-link) {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); }
  .btn:not(.disabled):hover {
    box-shadow: 1px 5px 10px #ccc; }
  .btn.btn-link:hover {
    box-shadow: none; }
  .btn[class*="btn-"]:focus, .btn[class*="btn-"]:active, .btn[class*="btn-"].active, .btn[disabled]:hover, .btn.disabled:hover {
    box-shadow: none;
    outline: none; }
  .btn span.caret {
    background: url(/images/redesign/btn-caret.svg) no-repeat center center;
    background-size: 100%;
    transform: rotate(180deg);
    border: none;
    width: 12px;
    height: 12px;
    margin: -2px 0 0 4px; }
    .btn span.caret.back {
      margin: -2px 4px 0 0;
      transform: rotate(-90deg); }
  .btn.btn-primary {
    background-color: #FF893E;
    border-color: #FF893E;
    box-shadow: none; }
    .btn.btn-primary:hover, .btn.btn-primary:active  {
      background-color: #FF893E;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      border-color: #FF893E;
       }
    .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #FF893E;
      border-color: #d27b44;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2), inset 0 0 1px 0 rgba(0, 0, 0, 0.4); }
    .btn.btn-primary.disabled, .btn.btn-primary[disabled], .btn.btn-primary.disabled:hover, .btn.btn-primary[disabled]:hover, .btn.btn-primary.disabled:focus, .btn.btn-primary[disabled]:focus {
      border-color: #FF893E;
      box-shadow: none;
      pointer-events: none;
      opacity: 0.5; }
  .btn.btn-default {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #F2F2F2), -webkit-linear-gradient( #fff, #fff);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #F2F2F2), linear-gradient( #fff, #fff);
    box-shadow: none;
    border: 1px solid #D9D2D0;
    color: #6D6565; }
    .btn.btn-default:hover {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), #e0e0e0), -webkit-linear-gradient( #fff, #fff);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #e0e0e0), linear-gradient( #fff, #fff);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      border-color: #A8A0A0;
      color: #4A4A4A; }
    .btn.btn-default:active, .btn.btn-default.active {
      background: #F2F2F2;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
      border-color: #A8A0A0;
      color: #4A4A4A; }
    .btn.btn-default.disabled, .btn.btn-default[disabled], .btn.btn-default.disabled:hover, .btn.btn-default[disabled]:hover, .btn.btn-default.disabled:focus, .btn.btn-default[disabled]:focus {
      background: #F2F2F2;
      box-shadow: none;
      border-color: #e0e0e0;
      color: #A8A0A0; }
  .btn.btn-danger {
    background-color: #f9f9f9;
    border-color: #bab7b7;
    color: #d9534f; }
    .btn.btn-danger:focus {
      background-color: #f9f9f9;
      border-color: #bab7b7;
      color: #d9534f; }
    .btn.btn-danger:hover, .btn.btn-danger:focus:hover, .btn.btn-danger:active, .btn.btn-danger.active {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925; }
    .btn.btn-danger[disabled]:hover, .btn.btn-danger[disabled]:active {
      background-color: #f9f9f9;
      border-color: #bab7b7;
      color: #d9534f;
      pointer-events: none; }
  .btn.btn-link {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    color: #337ab7; }
    .btn.btn-link:hover, .btn.btn-link:focus {
      color: #23527c;
      text-decoration: underline; }
  .btn.btn .glyphicon {
    font-size: 10px; }
  .btn.btn-sm {
    font-size: 10px;
    padding: 4px 10px; }
    .btn.btn-sm .glyphicon {
      font-size: 9px; }
    .btn.btn-sm span.caret {
      background-size: 90%; }
  .btn.btn-lg {
    padding: 13px 20px 11px;
    font-size: 12px; }
    .btn.btn-lg .glyphicon {
      font-size: 11px; }

.btn-group-lg > .btn,
.btn-group-lg .btn-lg {
  border-radius: 3px; }