@import "forms"
@import "project"
@import "custom"

@import "~bootstrap/scss/bootstrap";

body
	background-color: #F2F2F2
	font-size: 13px
	font-family: 'Rubik', sans-serif

h1, h2, h3, h4, h5, h6
  color: #4a4a4a
  font-weight: normal
  margin-bottom: 0

h1
  font-size: 32px
  line-height: 38px
  margin-top: 9px


h2
  font-size: 24px
  line-height: 32px
  margin-top: 11px

h3
  font-size: 18px
  font-weight: 500
  line-height: 24px
  margin-top: 14px

h4
  font-size: 16px
  font-weight: 500
  line-height: 22px
  margin-top: 17px

h5
  font-size: 14px
  line-height: 1.5
  margin-top: 24px

h6
  font-size: 11px
  line-height: 1.75
  margin-top: 28px

p
  line-height: 1.5

b, strong
  font-weight: 500  

.main-wrapper
	background-color: #fff
	margin: 0 auto !important

.text-center
	text-align: center
.text-right
	text-align: right

a
	color: #026EAD
	text-decoration: none
	&:hover
		color: #23527c;
		text-decoration: underline;
.loader
  position: absolute
  left: 50%
  margin-top: 40px
  -webkit-transform: translateX(-50%) translateY(-50%)
  -ms-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  &::before
    width: 2.28571429rem
    height: 2.28571429rem
    margin: 0em
  &::after
    width: 2.28571429rem
    height: 2.28571429rem
    margin: 0em
    position: absolute
    content: ''
    top: 0%
    left: 50%
    width: 100%
    height: 100%
    animation: loader 0.6s linear
    animation-iteration-count: infinite
    border-radius: 500rem
    border-color: #767676 transparent transparent
    border-style: solid
    border-width: 0.2em
    box-shadow: 0px 0px 0px 1px transparent
  &::before
    position: absolute
    content: ''
    top: 0%
    left: 50%
    width: 100%
    height: 100%
    border-radius: 500rem
    border: 0.2em solid rgba(0, 0, 0, 0.1)

.menu-wrapper
  background-color: #4A4A4A

#login-logo
	width: 120px
	margin: 0 auto
	display: block

