.home {
}

.description {
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 1em;
}

.modules {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px !important;
  border: 1px solid #d9d2d0 !important;
  margin: 20px 0 0;
}

.modules .heading {
  display: block;
  width: 100%;
}

.modules h3 {
  margin: 0;
  padding: 0 0 5px;
}

.buttonform {
  float: right;
}

.searchform {
  width: 100%;
}

.searchprojects {
  width: 78%;
  display: inline-block;
}

.contentRight {
  margin-left: 20px;
}
